body.back1 {
<style>
  div {
       background-image: url("https://images0.persgroep.net/rcs/o5TdFCl8CDBg2GxDq0hn_j3banY/diocontent/160489836/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8&desiredformat=webp");
       background-size: cover;
       background-color: red;
  }
header {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
</style>

}
nav{
  width: 100%;
  height: 60px;
  background-color: #fff;
}

nav p{
 font-family: sans-serif;
 color: #222;
 font-size: 24px;
 line-height: 55px;
 float: left;
 padding: 0px 20px;
}

nav ul{
 float: left;
}

nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-radius: 0px 0px 6px 6px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li{
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a{
  padding: 8px 14px;
}

nav ul li ul li a:hover{
  background-color: #f3f3f3;
}

