body.back1 {
<style>
  div {
       background-image: url("oeteldonk.jpg");
       background-size: cover;
       background-color: red;
  }
  
  body.back2 {
    <style>
     div {
      background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      background-seize: cover;
    }

  
  

