body.back1 {
<style>
  div {
       background-image: url("https://images0.persgroep.net/rcs/o5TdFCl8CDBg2GxDq0hn_j3banY/diocontent/160489836/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8&desiredformat=webp");
       background-size: cover;
  }
header {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
</style>

}
