* {
  margin: 0;
  padding: 0;
}

body.back1 {
       background-image: url("https://fem-fem.nl/app/uploads/2018/01/carnavalsvakantie-oeteldonk-femfem.jpg");
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
  }
  
  body.back2 {
      background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

body.back3 {
          background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back4 {
        background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back5 {
        background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back6 {
        background-image: url("https://images0.persgroep.net/rcs/m5JX-4mXAzX6nF0_ErM-DqO8Mdc/diocontent/160489836/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8");
      background-size: cover;
}

   nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav li a:hover:.active {
  background-color: #4CAF50;
}
  

h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family:fantasy;
  color: #000000;
}

h3 {
  position: relative;
  max-width: 900px;
  margin: auto;
  text-align: center; 
  font-size: 25px;
  font-family: monospace;
  color: #000000;
}

h4 {
  top: 100%;
  float: right;
}

.ges{
color: black;
width: 1000px;
height: 100px;
margin: 0 auto;
font-size: 20px;
}

.tra{
color: black;
width: 800px;
height: 100px;
margin: 0 auto;
font-size: 30px;
}

.kwe{
  color: black;
  width: 800px;
  height:100px;
  margin: 0 auto;
  font-size: 30px;
  float: left;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  
  input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
input[type="submit"] {
  background: red;
  color: white;
  text-align: center;
}
  
.con {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 200px;
  font-family:fantasy;
  color: #ffffff;
  }

.picenter {
  display: table-cell;
  height: 300px;
  text-align: center;
  width: 1250px;
}

.mail {
  text-align: center;
}

.acc{
color: white;
width: 800px;
height: 100px;
margin: 0 auto;
font-size: 30px;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
