* {
  margin: 0;
  padding: 0;
}



body.back1 {
       background-image: url("https://fem-fem.nl/app/uploads/2018/01/carnavalsvakantie-oeteldonk-femfem.jpg");
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
  }
  
  body.back2 {
      background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

body.back3 {
          background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back4 {
        background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back5 {
        background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.back6 {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Flag_of_Oeteldonk.jpg/260px-Flag_of_Oeteldonk.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

   nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav active {
  background-color: #4CAF50;
}
  

h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family:fantasy;
  color: #ff0000;
}

h3 {
  position: relative;
  max-width: 900px;
  margin: auto;
  font-size: 35px;
  font-family: monospace;
  color: #ff0000;
}

h4 {
  top: 100%;
  float: right;
}

