* {
  margin: 0;
  padding: 0;
}



body.back1 {
       background-image: url("https://fem-fem.nl/app/uploads/2018/01/carnavalsvakantie-oeteldonk-femfem.jpg")no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
  }
  
  body.back2 {
      background-image: url("https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-white-painted-brick-wall.jpg")no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

  
  

